@import "tailwindcss";

:root {
    --primary: rgb(10, 10, 10);
    --secondary: lightgrey;
    --tetiary: rgb(175, 175, 236);
    --accent: lightgreen;
    --accent-2: hotpink;
    --accent-3: gold;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tetiary: var(--tetiary);
    --font-orbitron: var(--font-orbitron);
    --font-poppins: var(--font-poppins);
    --font-montserrat: var(--font-montserrat);
    --font-edu: var(--font-edu);
    --color-accent: var(--accent);
}

body {
    background: var(--primary);
    color: var(--secondary);
    font-weight: 400;
    font-size: 13px;
    font-family: var(--font-poppins);
}
